<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Wind Speed123</th>
    </tr>
  </thead>
  <tbody>
    {{#each stations.readings}}
      <tr>
        <td>
          {{code}}
        </td>
        <td>
          {{windSpeed}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>