<div id="map" style="height: 250px"></div>
<script>
  var map = L.map('map').setView([53.11435508983019, -7.84195338376986], 6);
  var markerArray = [];

  {{#each stations}}
    markerArray.push(L.marker([{{latitude}}, {{longitude}}]).addTo(map));
  {{/each}}

  var group = L.featureGroup(markerArray).addTo(map);
  map.fitBounds(group.getBounds()); // zoom map to show all markers (a.k.a. stations)
  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);
</script>