<div class="ui segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each station.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature",
        values: [
          {{#each station.tempTrend}}
            {{this}},
          {{/each}}
        ],
        chartType: 'bar'
      },
      {
        name: "Wind Speed",
        values: [
          {{#each station.windTrend}}
            {{this}},
          {{/each}}
        ],
        chartType: 'line'
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature & Wind Speed forecast",
    data: data,
    type: 'axis-mixed',
    height: 250,
  })
</script>