{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weather Top V2
  </h3>
  <p>
    Updated Weather Top version - JavaScript edition{{mano}}
  </p>
</section>

