{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>A Web companion application for modular weather station <i>WeatherTop V2 JavaScript edition</i></h3>
  <img src="https://raw.githubusercontent.com/Bullzai/weatherTop/master/public/images/about.png" alt="Nicolas Cage - The WeahterTop man">
  <p>
    Logged in members can view station readings, add stations & their latest readings.<br>
    They also can delete them both, with appropriate buttons
  </p>
</section>